h1 {
  font-family: "PT serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

h2,
.masthead__paragraph {
  font-family: "Poppins";
  font-style: normal;
  line-height: 27px;
  font-size: 18px;
  color: #000000;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.masthead__paragraph {
  font-weight: normal;
}